@font-face {
    font-family: 'Boston';
    src: url(./../fonts/boston.ttf);
}

@font-face {
    font-family: 'Arial Narrow';
    src: url(./../fonts/arial.ttf);
}
body, html { width: 100%; height: 100%; min-height: 100%; margin: 0px; padding: 0px; font-family: 'Arial Narrow', sans-serif; background-color: #f0f0f0; color: #212121; font-size: 17px; }
a { text-decoration: none; color: inherit; }
img { outline: none; border: none; }

.width-100 { width: 100%; }
.width { width: 1000px; }

.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }

.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }

.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }

.floatl { float: left; }
.floatr { float: right; }
.clear { clear: both; }
.ta-l { text-align: left; }
.ta-r { text-align: right; }
.ta-c { text-align: center; }
.padding-0 { padding: 0px; }
.hidden { display: none !important; }

.notify { width: 100%; background-color: #7a7a7a; border: 1px solid #545454; color: #fff; border-radius: 3px; display: table; }
.notify div { display: table-cell; padding: 5px; box-sizing: border-box; text-align: left; }
.notify .icon { width: 45px; background-color: #545454; background-image: url(./../images/info.png); background-position: center; background-repeat: no-repeat; }
.notify .text { color: #fff; font-size: 18px; padding: 10px; }
.notify .close { position: relative; width: 35px; }
.notify .close i { opacity: 0.8; width: 16px; height: 16px; background-image: url(./../images/closemini.png); background-position: center; background-repeat: no-repeat; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; margin: auto; }
.notify .close i:hover { opacity: 1; cursor: pointer; }
.notify.error { background-color: #bd3838; border: 1px solid #911717; }
.notify.error .icon { background-color: #911717; }
.notify.error .icon { background-image: url(./../images/error.png); }
.notify.success { background-color: #3eb652; border: 1px solid #1d8b2f; }
.notify.success .icon { background-color: #1d8b2f; }
.notify.success .icon { background-image: url(./../images/success.png); }

section { margin: 0 auto; }

textarea { resize: none; }

button { background-color: #212121; color: #fff; height: 50px; padding: 0 20px; border: none; border-radius: 7px; font-family: "Arial Black"; text-transform: uppercase; font-size: 21px; }
button:hover, button:focus { background-color: #000; cursor: pointer; }